html {
    scroll-behavior: smooth;
}

body {
    color: #161616; /* foreground colour */
}

a {
    color: #161616; /* all anchor color set to foreground color */
}

.visually-hidden {
    display: none; /* all elements of this class set to none i.e hidden */
}

.card-category {
    color: #D73953; /* all elements in this class set to this foreground color*/
}

.section-tagline {
    color: #D73953; /* all elements in this class have this forground color*/
}